
.Container{
  background-color: white;
  height: 100vh;
  width: 100vw;
  font-size: 25px;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 70px 1fr 50px;
  position: absolute;
}
.Header{
  background-color: pink;
  grid-column-start:1;
  grid-column-end:3;
}
.LeftSide{
  background-color: #7DB1FF;
  grid-row-start: 2;
  grid-row-end: 3;

}
.Info{
  width:150px;
  background-color:white;
  font-size: 15px;
  margin-left: 10%;
  line-height:14px;

}
.Footer{
  background-color: yellow;
  grid-column-start:1;
  grid-column-end:3;
  grid-row-start: 3;
  grid-row-end: 4;
}
.Body{
  background-color: gray;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start:2;
  grid-column-end:3;
}
.Button{
  margin-left: 10%;
}
